.home .destacado {
	background: url("../../images/home/header.jpg") center top no-repeat;
}

/*----------------- CONTENIDO ----------------*/

.home .principal-aside{
	display: none;
}




@media (max-width: 990px) {

	
}

@media (max-width: 1023px) {
	.home .principal-aside {
		display: block;
	}
}